<% provide :title, t(".title") %>
<% if logged_in? %>
  <% if current_manager? %>
    <h1><%= t ".department" %></h1>
    <%= render "shared/feed" %>
  <% else %>
    <h1><%= t ".title" %></h1>
    <%= render "shared/feed" %>
  <% end %>
<% else %>
  <h1><%= t ".title" %></h1>
  <p><%= t ".home_content" %></p>
  <div class="center jumbotron">
    <%= link_to t(".login_now"), login_url, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
