<% provide :title, t(".title") %>
<% if logged_in? %>
  <% if current_manager? %>
    <h1 id="department-report"><%= t ".department_report" %></h1>
    <%= render "shared/feed" %>
  <% end %>
    <h1 id="department-report"><%= t ".my_report" %></h1>
    <%= render @reports %>
    <%== pagy_bootstrap_nav(@pagy) %>
<% else %>
  <h1><%= t ".title" %></h1>
  <p><%= t ".home_content" %></p>
  <div class="center jumbotron">
    <%= link_to t(".login_now"), login_url, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
