<div class = "infor-group">
  <%= t ".id" %>:
  <span class="user-infor"><%= @user.id %></span>
</div>
<div class = "infor-group">
  <%= t ".email" %>:
  <span class="user-infor"><%= @user.email %></span>
</div>
<div class = "infor-group">
  <%= t ".phone" %>:
  <span class="user-infor"><%= @user.phone %></span>
</div>
<div class = "infor-group">
  <%= t ".address" %>:
  <span class="user-infor"><%= @user.address %></span>
</div>
<div class = "infor-group">
  <%= t ".day_start" %>:
  <span class="user-infor"><%= @user.day_start %></span>
</div>
