<% provide :title, @user.name %>
<% if @reports.any? %>
  <h3 class="col-md-10 pl-0 d-inline"><span><%= t ".total" %>(<%= @pagy.count %>)</span></h3>
  <%= link_to t(".create_report"), new_report_url, class: "btn btn-secondary col-md-2 mb-2" %>
    <ol class="reports flex-column">
      <%= render "reports/report_header" %>
      <%= render @reports %>
    </ol>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>
<%= render "shared/modal" %>
