<div class="user-info report-detail col-md-12">
  <div class="col-md-10 center">
    <div class="col-md-8 box-info mg-15">
      <span>
        <%= t ".name" %>:
      </span>
      <%= user.name %>
    </div>
    <div class="col-md-8 box-info mg-15">
      <span>
        <%= t ".email" %>:
      </span>
      <%= user.email %>
    </div>
    <div class="col-md-4 mg-30 color color-<%= report.status %>">
      <span>
        <%= t ".status" %>:
      </span>
      <%= report.status %>
    </div>
  </div>
</div>
<div class="report-detail col-md-12">
  <div class="col-md-12 box-info">
    <p>
      <%= t ".plan_today" %>
    </p>
    <%= report.plan_today %>
  </div>
  <div class="col-md-12 box-info">
    <p>
      <%= t ".reality" %>
    </p>
    <%= report.reality %>
  </div><div class="col-md-12 box-info">
    <p>
      <%= t ".reason" %>
    </p>
    <%= report.reason %>
  </div><div class="col-md-12 box-info">
    <p>
      <%= t ".plan_next_day" %>
    </p>
    <%= report.plan_next_day %>
  </div>
  <div class="col-md-12 box-info">
    <p>
      <%= t ".date_created" %>
    </p>
    <%= report.created_at.strftime Settings.reports.report.format_date %>
  </div>
  <div class="col-md-12 box-info">
    <p>
      <%= t ".comment" %>
    </p>
    <%= report.comment %>
  </div>
</div>
