<%= form_for @department, remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label t(".name") %>
    <%= f.text_field :name, class: "form-control", placeholder: t(".name") %>
  </div>
  <%= f.submit t(".update"), class: "btn btn-success btn-lg btn-block col-md-4 mg-30" %>
<% end %>
