<table class="table-hover report-table w-100">
  <tr>
    <th id="width-5"></th>
    <th id="width-15" class="user"><span><%= t ".name" %></span></th>
    <th id="width-10" class="user"><span><%= t ".department_received" %></span></th>
    <th id="width-30" class="plan_today"><span><%= t ".plan_today" %></span></th>
    <th id="width-15" class=""><%= t ".time_create" %></th>
    <th id="width-15"><span><%= t ".status" %></span></th>
    <th id="width-10" class="edit"></th>
  </tr>
</table>
