<li id="report-<%= report.id %>">
  <%= link_to gravatar_for(report.user, size: Settings.digit_50), report.user %>
  <span class="user"><%= link_to report.user_name, report %></span>
  <span class="plan_today"><%= report.plan_today %></span>
  <span class="time"><%= report.created_at %></span>
  <span class="timestamp">
  <%= time_ago_in_words report.created_at %>
  </span>
</li>
