<li id="report-<%= report.id %>">
  <table class="report-table">
    <tr>
      <th><%= link_to gravatar_for(report.user, size: Settings.digit_50), report.user %></th>
      <td class="user"><span><%= link_to report.user_name, report %></span></td>
      <td class="plan_today"><span><%= report.plan_today %></span></td>
      <td class="time"><span><%= l(report.created_at, format: :short) %></span></td>
      <td>
        <span class="status color-<%= report.status%>">
          <%= report.status %>
        </span>
      </td>
      <td class="edit">
        <span><%= link_to t(".edit"), edit_report_url(id: report.id) %></span>
      </td>
    </tr>
  <table>
</li>
