<header class="navbar navbar-expand-sm bg-dark" id = "header-custom">
  <div class = "container">
    <%= link_to "Daily Report Management", root_path, id: "logo" %>
    <nav>
      <ul class = "navbar navbar-expand-sm bg-dark header-list" >
        <li><%= link_to t(".home"), static_pages_home_path %></li>
        <li><%= link_to t(".en"), locale:"en" %></li>
        <li><%= link_to t(".vi"), locale:"vi" %></li>
        <% if logged_in? %>
          <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t(".login"), login_path %></li>
        <% end %></li>
      </ul>
    </nav>
  </div>
</header>
