<%= search_form_for @search do |f| %>
  <div class="form-row">
    <div class="col-md-2 mb-3">
      <%= f.label t(".plan_today") %>
      <%= f.search_field :plan_today_cont %>
    </div>
    <div class="col-md-2 mb-3">
      <%= f.label t(".user") %>
      <%= f.search_field :user_name_cont %>
    </div>
    <div class="col-md-2 mb-3">
      <%= f.label t(".department") %>
      <%= f.search_field :department_name_cont %>
    </div>
    <div class="col-md-2 mb-3">
      <%= f.label t(".status") %>
      <%= f.select :status_eq, options_for_select(Report.statuses.to_a),{:prompt => true} , class: "select2-search" %>
    </div>
    <div class="col-md-2 mb-3">
      <%= f.label t(".start_date") %>
      <%= f.date_field :start_date, value: check_valid_date(params[:search], :start_date) %>
    </div>
    <div class="col-md-2 mb-3">
      <%= f.label t(".end_date") %>
      <%= f.date_field :end_date, value: check_valid_date(params[:search], :end_date) %>
    </div>
  </div>
  <div class="form-row">
    <h1 class="col-md-4" id="department-report">
      <%= t ".department_report" %>
    </h1>
    <div class="col-md-2 mb-3">
      <%= f.submit t(".search"), class: "btn btn-primary" %>
    </div>
    <div class="col-md-2 mb-3">
      <%= link_to t(".reset"), reports_url, class: "btn btn-primary" %>
    </div>
    <div class="col-md-4 mb-3 text-right">
      <%= link_to t(".download"), reports_path(format: :xlsx), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
